PORT=7777
DB_USER=<db-user>
DB_NAME=psychic_spec_helpers_test
DB_PORT=5432
DB_HOST=localhost
APP_ENCRYPTION_KEY='<paste the results of running `pnpm psy g:encryption-key`>'
LEGACY_APP_ENCRYPTION_KEY='<paste the results of running `pnpm psy g:encryption-key`>'
